*,
:after,
:before {
    box-sizing: inherit
}

* {
    margin: 0;
    padding: 0
}

html {
    box-sizing: border-box;
    font-size: 62.5%
}

body {
    background-color: #0D1F4F;
    color: hsla(0, 0%, 100%, .97);
    font-family: Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 1.6;
    overflow: hidden;
}

blockquote {
    border-left: .3rem solid #d1d1d1;
    margin-left: 0;
    margin-right: 0;
    padding: 1rem 1.5rem
}

blockquote :last-child {
    margin-bottom: 0
}

.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
    background-color: #9b4dca;
    border: .1rem solid #9b4dca;
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:focus,
input[type=submit]:hover {
    background-color: #606c76;
    border-color: #606c76;
    color: #fff;
    outline: 0
}

.button[disabled],
button[disabled],
input[type=button][disabled],
input[type=reset][disabled],
input[type=submit][disabled] {
    cursor: default;
    opacity: .5
}

.button[disabled]:focus,
.button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type=button][disabled]:focus,
input[type=button][disabled]:hover,
input[type=reset][disabled]:focus,
input[type=reset][disabled]:hover,
input[type=submit][disabled]:focus,
input[type=submit][disabled]:hover {
    background-color: #9b4dca;
    border-color: #9b4dca
}

.button.button-outline,
button.button-outline,
input[type=button].button-outline,
input[type=reset].button-outline,
input[type=submit].button-outline {
    background-color: transparent;
    color: #9b4dca
}

.button.button-outline:focus,
.button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type=button].button-outline:focus,
input[type=button].button-outline:hover,
input[type=reset].button-outline:focus,
input[type=reset].button-outline:hover,
input[type=submit].button-outline:focus,
input[type=submit].button-outline:hover {
    background-color: transparent;
    border-color: #606c76;
    color: #606c76
}

.button.button-outline[disabled]:focus,
.button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type=button].button-outline[disabled]:focus,
input[type=button].button-outline[disabled]:hover,
input[type=reset].button-outline[disabled]:focus,
input[type=reset].button-outline[disabled]:hover,
input[type=submit].button-outline[disabled]:focus,
input[type=submit].button-outline[disabled]:hover {
    border-color: inherit;
    color: #9b4dca
}

.button.button-clear,
button.button-clear,
input[type=button].button-clear,
input[type=reset].button-clear,
input[type=submit].button-clear {
    background-color: transparent;
    border-color: transparent;
    color: #9b4dca
}

.button.button-clear:focus,
.button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type=button].button-clear:focus,
input[type=button].button-clear:hover,
input[type=reset].button-clear:focus,
input[type=reset].button-clear:hover,
input[type=submit].button-clear:focus,
input[type=submit].button-clear:hover {
    background-color: transparent;
    border-color: transparent;
    color: #606c76
}

.button.button-clear[disabled]:focus,
.button.button-clear[disabled]:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover,
input[type=button].button-clear[disabled]:focus,
input[type=button].button-clear[disabled]:hover,
input[type=reset].button-clear[disabled]:focus,
input[type=reset].button-clear[disabled]:hover,
input[type=submit].button-clear[disabled]:focus,
input[type=submit].button-clear[disabled]:hover {
    color: #9b4dca
}

code {
    border-radius: .4rem;
    font-size: 86%;
    margin: 0 .2rem;
    padding: .2rem .5rem;
    white-space: nowrap
}

code,
pre {
    background: #f4f5f6
}

pre {
    border-left: .3rem solid #9b4dca;
    overflow-y: hidden
}

pre>code {
    border-radius: 0;
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre
}

hr {
    border: 0;
    border-top: .1rem solid #f4f5f6;
    margin: 3rem 0
}

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: hsla(0, 0%, 88%, .74);
    border: none;
    border-radius: .4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 3.8rem;
    padding: .6rem 1rem;
    width: 100%;
    transition: background-color .3s
}

input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
    background-color: #e1e1e1;
    outline: 0
}

select {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') 100% no-repeat;
    padding-right: 3rem
}

select:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#9b4dca" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>')
}

textarea {
    min-height: 6.5rem
}

label,
legend {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: .5rem
}

fieldset {
    border-width: 0;
    padding: 0
}

input[type=checkbox],
input[type=radio] {
    display: inline
}

.label-inline {
    display: inline-block;
    font-weight: 400;
    margin-left: .5rem
}

.container {
    margin: 0 auto;
    max-width: 90vw;
    padding: 0 2rem;
    position: relative;
    width: 100%
}

@media (max-width:1180px) {
    .container {
        max-width: 95vw;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%
}

.row,
.row.row-no-padding,
.row.row-no-padding>.column {
    padding: 0
}

.row.row-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.row.row-top {
    -ms-flex-align: start;
    align-items: flex-start
}

.row.row-bottom {
    -ms-flex-align: end;
    align-items: flex-end
}

.row.row-center {
    -ms-flex-align: center;
    align-items: center
}

.row.row-stretch {
    -ms-flex-align: stretch;
    align-items: stretch
}

.row.row-baseline {
    -ms-flex-align: baseline;
    align-items: baseline
}

.row .column {
    display: block;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%
}

.row .column.column-offset-10 {
    margin-left: 10%
}

.row .column.column-offset-20 {
    margin-left: 20%
}

.row .column.column-offset-25 {
    margin-left: 25%
}

.row .column.column-offset-33,
.row .column.column-offset-34 {
    margin-left: 33.3333%
}

.row .column.column-offset-50 {
    margin-left: 50%
}

.row .column.column-offset-66,
.row .column.column-offset-67 {
    margin-left: 66.6666%
}

.row .column.column-offset-75 {
    margin-left: 75%
}

.row .column.column-offset-80 {
    margin-left: 80%
}

.row .column.column-offset-90 {
    margin-left: 90%
}

.row .column.column-10 {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%
}

.row .column.column-20 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%
}

.row .column.column-25 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.row .column.column-33,
.row .column.column-34 {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%
}

.row .column.column-40 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%
}

.row .column.column-50 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.row .column.column-60 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%
}

.row .column.column-66,
.row .column.column-67 {
    -ms-flex: 0 0 66.6666%;
    flex: 0 0 66.6666%;
    max-width: 66.6666%
}

.row .column.column-75 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.row .column.column-80 {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%
}

.row .column.column-90 {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%
}

.row .column .column-top {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start
}

.row .column .column-bottom {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end
}

.row .column .column-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

@media (min-width:40rem) {
    .row {
        -ms-flex-direction: row;
        flex-direction: row;
        margin-left: -1rem;
        width: calc(100% + 2rem)
    }

    .row .column {
        margin-bottom: inherit;
    }
}

a {
    color: #9b4dca;
    text-decoration: none
}

a:focus,
a:hover {
    color: #606c76
}

dl,
ol,
ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
    font-size: 90%;
    margin: 1.5rem 0 1.5rem 3rem
}

ol {
    list-style: decimal inside
}

ul {
    list-style: circle inside
}

.button,
button,
dd,
dt,
li {
    margin-bottom: 1rem
}

fieldset,
input,
select,
textarea {
    margin-bottom: 1.5rem
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
    margin-bottom: 2.5rem
}

table {
    border-spacing: 0;
    width: 100%
}

td,
th {
    border-bottom: .1rem solid #e1e1e1;
    padding: 1.2rem 1.5rem;
    text-align: left
}

td:first-child,
th:first-child {
    padding-left: 0
}

td:last-child,
th:last-child {
    padding-right: 0
}

b,
strong {
    font-weight: 700
}

p {
    margin-top: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    letter-spacing: -.1rem;
    margin-bottom: 2rem;
    margin-top: 0
}

h1 {
    font-size: 4.6rem;
    line-height: 1.2
}

h2 {
    font-size: 7.6rem;
    line-height: 1.25
}

h3 {
    font-size: 2.8rem;
    line-height: 1.3
}

h4 {
    font-size: 2.2rem;
    letter-spacing: -.08rem;
    line-height: 1.35
}

h5 {
    font-size: 1.8rem;
    letter-spacing: -.05rem;
    line-height: 1.5
}

h6 {
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 1.4
}

img {
    max-width: 100%
}

.clearfix:after {
    clear: both;
    content: " ";
    display: table
}

.float-left {
    float: left
}

.float-right {
    float: right
}

@-webkit-keyframes a {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
        transform: translateX(30px)
    }

    80% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes a {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
        transform: translateX(30px)
    }

    80% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes b {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes b {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes c {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes c {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes d {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes d {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.full-height {
    min-height: 100vh
}

.page-title {
    line-height: 1.0;
    font-weight: 300;
    -webkit-animation-name: b;
    animation-name: b;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.page-title,
.page-title h1 {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.page-title h1 {
    background-image: url(../images/name.svg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: inherit;
    line-height: 2;
    margin: 1rem 0;
    text-transform: lowercase;
    text-indent: -1000rem;
    white-space: nowrap;
    -webkit-animation-name: a;
    animation-name: a;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@media (orientation: portrait) {
    .page-title {
        font-size: 5vw;
    }
}

@media (orientation: landscape) {
    .page-title {
        font-size: 3.5vw;
    }
}

@media (max-width: 40rem) {
    .page-title {
        margin-top: 8vh;
        font-size: 6vw;
    }

    .moon {
        display: none;
    }
}

@media (orientation: landscape) and (min-width: 811px) and (max-width: 1100px) {
    .page-title {
        font-size: 3.3vw;
    } 
}

.page-title span {
    text-shadow: 1px 1px 1px #0B0B3B;
}

em {
    font-style: normal
}

.layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-attachment: fixed
}

.moon {
    background-image: url(../images/moon.svg);
    background-position: 50% 5%;
    background-repeat: no-repeat;
    background-size: 24vh;
    -webkit-animation-name: c;
    animation-name: c;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.majortom {
    background-image: url(../images/major.tom.svg);
    background-position: 89.4% 52%;
    background-size: 35vh;
    -webkit-animation-name: d;
    animation-name: d;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-delay: .16s;
    animation-delay: .16s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.emissions,
.majortom {
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.emissions {
    background-image: url(../images/emissions.svg);
    background-position: 90% 100%;
    background-size: 68vh;
    -webkit-animation-name: d;
    animation-name: d;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.red {
    color: #FA6057;
}

.turquoise {
    color: #61BAB0;
}

.orange {
    color: #F1C33B;
}
